You can solve these exercises in the room or at home. For this week, and the next 3 weeks, exercises have to be solved by creating a single dedicated `.py` file called `01ex_introduction.py`.

You can divide the individual exercises in the source code with appropriate comments (`#`).

The exercises need to run without errors with `python3 01ex_introduction.py`.

1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [13]:
#1\. **The HelloWorld replacement**

#Program to print fro 1 to 100

numbers=[x  for x in range(101)]

for num in numbers:
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [18]:
replaced = []
for num in range(1, 101):
    if num % 3 == 0 and num % 5 != 0:
        replaced.append("Hello")
    elif num % 3 != 0 and num % 5 == 0:
        replaced.append("World")
    elif num % 3 == 0 and num % 5 == 0:
        replaced.append("Hello World")
    else:
        replaced.append(num)

print(replaced)

modified_replaced = []
for val in replaced:
    if val == "Hello":
        modified_replaced.append("Python")
    elif val == "World":
        modified_replaced.append("Works")
    else:
        modified_replaced.append(val)

result_tuple = tuple(modified_replaced)
print(result_tuple)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'Hello World', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'Hello World', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'Hello World', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'Hello World', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'Hello World', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'Hello World', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Hello World', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Hello World', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Hello World', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Hello World', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Hello World', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Hello World', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. **The swap**

Write a program that swaps the values of two input variables `x` and `y` from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [19]:
X=6
print("x before swap",X)
Y=7
print("y before swap",Y)
X,Y=Y,X

print("x after swap",X)
print("y after swap",Y)

x before swap 6
y before swap 7
x after swap 7
y after swap 6

3\. **Computing the distance**

Write a program that calculates and prints the euclidean distance between two given points $u$ and $v$ in a 2D space, where $u$ and $v$ are both 2-tuples $(x,y)$.

Example: if $u=(3,0)$ and $v=(0,4)$, the function should return $5$.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [20]:
import math

# Define the points u and v as 2-tuples (x, y)
u = (3, 0)
v = (0, 4)

# Calculate the Euclidean distance using the formula
distance = math.sqrt((u[0] - v[0]) ** 2 + (u[1] - v[1]) ** 2)

# Print the result
print(f"The Euclidean distance between {u} and {v} is {distance:.2f}")

The Euclidean distance between (3, 0) and (0, 4) is 5.00

4\. **Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The test strings are:

In [56]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [59]:
input_string=s2.lower()
print("The input string is:", input_string)
mySet = set(input_string)
countOfChars = dict()
for element in mySet:
    countOfChar = 0
    for character in input_string:
        if character == element:
            countOfChar += 1
    countOfChars[element] = countOfChar
print("Count of characters is:")
print(countOfChars)

The input string is: the quick brown fox jumps over the lazy dog
Count of characters is:
{'o': 4, 'a': 1, 'h': 2, 'l': 1, 'j': 1, 'e': 3, 'v': 1, 'z': 1, 'w': 1, 'r': 2, 'q': 1, 'b': 1, 'm': 1, 'p': 1, 'g': 1, 'u': 2, 'x': 1, 'i': 1, 't': 2, 'n': 1, 'y': 1, 'f': 1, 'd': 1, 's': 1, ' ': 8, 'c': 1, 'k': 1}

5\. **Isolating the unique**

Write a program that determines and counts the unique numbers (numbers with only one occurrence) in the list:

In [60]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41, 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [75]:
import collections
unique_counts = collections.Counter(e for e in l)

print(len(set(unique_counts)))

54

In [71]:
unique_l= len(set(l))
print(unique_l)

54

Do the same exploiting only the Python data structures.

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [78]:
value1=int(input("Enter a value"))
value2=str(input("Enter a value"))

try:

    result = value1 + value2

    print(result)
except:
    print("Error: the sum is not possible.")

Enter a value 6
Enter a value dddd

Error: the sum is not possible.

7\. **Cubes**

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [52]:
cubes=[]
for x in range(10):
    cube=x*x*x
    cubes.append(cube)
    
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. **List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [54]:
cubes=[x*x*x for x in range(10)]

print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [42]:
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [49]:
list_=[(i,j) for i in range(3)  for j in range (4)]
list_

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [39]:
# Define the range of values for a, b, and c
n = 100  # You can change this to generate more triples

# Use list comprehension to generate Pythagorean triples
triples = [(a, b, c) for c in range(1, n) for b in range(1, c) for a in range(1, b) if a**2 + b**2 == c**2]

# Print the generated Pythagorean triples
for triple in triples:
    print(triple)

(3, 4, 5)
(6, 8, 10)
(5, 12, 13)
(9, 12, 15)
(8, 15, 17)
(12, 16, 20)
(15, 20, 25)
(7, 24, 25)
(10, 24, 26)
(20, 21, 29)
(18, 24, 30)
(16, 30, 34)
(21, 28, 35)
(12, 35, 37)
(15, 36, 39)
(24, 32, 40)
(9, 40, 41)
(27, 36, 45)
(30, 40, 50)
(14, 48, 50)
(24, 45, 51)
(20, 48, 52)
(28, 45, 53)
(33, 44, 55)
(40, 42, 58)
(36, 48, 60)
(11, 60, 61)
(39, 52, 65)
(33, 56, 65)
(25, 60, 65)
(16, 63, 65)
(32, 60, 68)
(42, 56, 70)
(48, 55, 73)
(24, 70, 74)
(45, 60, 75)
(21, 72, 75)
(30, 72, 78)
(48, 64, 80)
(18, 80, 82)
(51, 68, 85)
(40, 75, 85)
(36, 77, 85)
(13, 84, 85)
(60, 63, 87)
(39, 80, 89)
(54, 72, 90)
(35, 84, 91)
(57, 76, 95)
(65, 72, 97)

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [41]:
import math

def normalize_vector(vector):
    # Calculate the Euclidean norm of the vector
    norm = math.sqrt(sum(x**2 for x in vector))
    
    # Normalize the vector by dividing each component by the norm
    normalized_vector = tuple(x / norm for x in vector)
    
    return normalized_vector

# Example usage:
n_dim_vector = (12, 16,20)  # Replace this with your N-dimensional vector
normalized = normalize_vector(n_dim_vector)
print("Original Vector:", n_dim_vector)
print("Normalized Vector:", normalized)

Original Vector: (12, 16, 20)
Normalized Vector: (0.4242640687119285, 0.565685424949238, 0.7071067811865475)

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [32]:
def ForFibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        a, b = b, a + b
    return a

for num in range (20):
    print ("Fibonnacci for", num, "is",ForFibonacci(num))

Fibonnacci for 0 is 0
Fibonnacci for 1 is 1
Fibonnacci for 2 is 1
Fibonnacci for 3 is 2
Fibonnacci for 4 is 3
Fibonnacci for 5 is 5
Fibonnacci for 6 is 8
Fibonnacci for 7 is 13
Fibonnacci for 8 is 21
Fibonnacci for 9 is 34
Fibonnacci for 10 is 55
Fibonnacci for 11 is 89
Fibonnacci for 12 is 144
Fibonnacci for 13 is 233
Fibonnacci for 14 is 377
Fibonnacci for 15 is 610
Fibonnacci for 16 is 987
Fibonnacci for 17 is 1597
Fibonnacci for 18 is 2584
Fibonnacci for 19 is 4181

In [33]:
# while Loop Fibonacci function

def whileFibonacci(n):
    a, b = 0, 1
    i = 0
    while i < n:
        a, b = b, a + b
        i += 1
    return a

In [34]:
for num in range(20):
    print(whileFibonacci(num))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [37]:
import timeit
n=20
for_loop_time = timeit.timeit('ForFibonacci(n)', globals=globals(), number=10000)

While_loop_time = timeit.timeit('whileFibonacci(n)', globals=globals(), number=10000)
print(f"for-based Fibonacci Execution Time: {for_loop_time:.6f} seconds")
print(f"while-based Fibonacci Execution Time: {While_loop_time:.6f} seconds")

for-based Fibonacci Execution Time: 0.024560 seconds
while-based Fibonacci Execution Time: 0.032086 seconds