In [1]:
##q1
# Creating a list of integers
integer_list = [x for x in range(20)]
# Writing the list of integers to a text file 'data_int.txt'
with open('data_int.txt', 'w') as file:
    for number in integer_list:
        file.write(f"{number}\n")
# Creating a 5x5 matrix of floats
float_matrix = [[0.1 * (i * 5 + j) for j in range(5)] for i in range(5)]
# Writing the matrix of floats to a text file 'data_float.txt'
with open('data_float.txt', 'w') as file:
    for row in float_matrix:
        file.write(' '.join(map(str, row)) + '\n')
#!cat data_int.txt
#!cat data_float.txt

In [2]:
##q2
import json
import pandas as pd
data = json.load(open('data/user_data.json'))
filtered_data=[d for d in data if d['CreditCardType']=='American Express']
df = pd.DataFrame(filtered_data)
df.to_csv("CreditCardType.csv")
cards=pd.read_csv('CreditCardType.csv')
cards

,Unnamed: 0,ID,JobTitle,EmailAddress,FirstNameLastName,CreditCard,CreditCardType
0,0,2,Investment Advisor,Clint_Thorpe5003@bulaffy.com,Clint Thorpe,7083-8766-0251-2345,American Express
1,1,12,Retail Trainee,Phillip_Carpenter9505@famism.biz,Phillip Carpenter,3657-0088-0820-5247,American Express
2,2,28,Project Manager,Russel_Graves1378@extex.org,Russel Graves,6718-4818-8011-6024,American Express
3,3,39,Stockbroker,Leanne_Newton1268@typill.biz,Leanne Newton,5438-0816-4166-4847,American Express
4,4,57,Budget Analyst,Tony_Giles1960@iatim.tech,Tony Giles,8130-3425-7573-7745,American Express
5,5,62,CNC Operator,Owen_Allcott5125@bauros.biz,Owen Allcott,4156-0107-7210-2630,American Express
6,6,68,Project Manager,Liam_Lynn3280@kideod.biz,Liam Lynn,7152-3247-6053-2233,American Express
7,7,74,Dentist,Regina_Woodcock5820@yahoo.com,Regina Woodcock,0208-1753-3870-8002,American Express
8,8,81,HR Specialist,Carter_Wallace9614@atink.com,Carter Wallace,4256-7201-6717-4322,American Express
9,9,92,Staffing Consultant,Maia_Stark2797@jiman.org,Maia Stark,3851-1403-1734-6321,American Express
10,10,97,Stockbroker,Ciara_Lomax982@bauros.biz,Ciara Lomax,3702-3440-2472-5424,American Express
11,11,116,Staffing Consultant,Isabel_Ellwood1475@fuliss.net,Isabel Ellwood,3738-0882-0066-6683,American Express
12,12,148,CNC Operator,Abdul_Townend2202@infotech44.tech,Abdul Townend,4224-1226-3557-3448,American Express
13,13,150,Fabricator,Caleb_Poulton1735@atink.com,Caleb Poulton,8203-6875-5225-0341,American Express
14,14,151,Restaurant Manager,Ronald_Lewis6777@deavo.com,Ronald Lewis,7212-0155-5014-8471,American Express
15,15,154,Bellman,Faith_Seymour3829@twace.org,Faith Seymour,4170-5186-6887-6558,American Express
16,16,169,Assistant Buyer,Anthony_Hancock9083@qater.org,Anthony Hancock,0832-3357-6010-6550,American Express
17,17,176,Healthcare Specialist,Isabella_Willson5478@nanoff.biz,Isabella Willson,5177-4868-4623-0384,American Express
18,18,182,Pharmacist,Stephanie_Darcy3298@bauros.biz,Stephanie Darcy,0264-4020-5106-5576,American Express
19,19,199,Investment Advisor,Ryan_Kennedy5565@corti.com,Ryan Kennedy,3166-6287-6242-7207,American Express

In [3]:
##3
import pandas as pd
import numpy as np
import json
df= pd.read_csv('data/mushrooms_categorized.csv')
mushrooms_mean=df.groupby(['class']).mean()
json = mushrooms_mean.to_json()
json

'{"cap-shape":{"0":3.2661596958,"1":3.4361593463},"cap-surface":{"0":1.6159695817,"1":2.0551583248},"cap-color":{"0":4.5817490494,"1":4.4218590398},"bruises":{"0":0.6539923954,"1":0.1593462717},"odor":{"0":4.3346007605,"1":3.9407558733},"gill-attachment":{"0":0.9543726236,"1":0.9954034729},"gill-spacing":{"0":0.2851711027,"1":0.0286006129},"gill-size":{"0":0.0684410646,"1":0.5679264556},"gill-color":{"0":6.6226235741,"1":2.8636363636},"stalk-shape":{"0":0.6159695817,"1":0.5148110317},"stalk-root":{"0":1.4980988593,"1":0.6925434116},"stalk-surface-above-ring":{"0":1.7756653992,"1":1.3595505618},"stalk-surface-below-ring":{"0":1.7984790875,"1":1.3942798774},"stalk-color-above-ring":{"0":6.0988593156,"1":5.5127681307},"stalk-color-below-ring":{"0":6.0646387833,"1":5.5045965271},"veil-type":{"0":0.0,"1":0.0},"veil-color":{"0":1.9315589354,"1":2.0020429009},"ring-number":{"0":1.1254752852,"1":1.0091930541},"ring-type":{"0":3.0076045627,"1":1.5229826353},"spore-print-color":{"0":3.2015209125,"1":4.0214504597},"population":{"0":3.283269962,"1":4.0316649642},"habitat":{"0":1.1482889734,"1":1.8958120531}}'

In [4]:
##4
import sqlite3 as sql
# create a connection to the database and a cursor to execute queries
conn = sql.connect('data/sakila.db.1')
cur = conn.cursor()
# query data from database: select all content from the table "actor"
query = "SELECT * FROM actor "
results = cur.execute(query).fetchall()
#print(results)
# create a DataFrame from the DB data
df = pd.DataFrame(results)
# close the cursor and connection
cur.close()
conn.close()
# print dataframe
df
# Counting actors with a first name that begins with 'A'
count_actors_with_A = df[df[1].str.split().str[0].str.startswith('A')].shape[0]
print(f"The number of actors with a first name starting with 'A' is: {count_actors_with_A}")

The number of actors with a first name starting with 'A' is: 13

In [5]:
##5
with open('data/credit_card.dat','rb') as credit_card_dat:
    line = credit_card_dat.readlines() 
    for row in line:
        if(len(row) > 5): 
            utf_2_strng = row.decode("utf-8")
            utf_2_strng = utf_2_strng[0:114]   
            start_digit = 0
            digit_space = 6
            card_digits=[]
            for i in range(19):
                end_digit = start_digit + digit_space
                digits_4 = utf_2_strng[start_digit:(start_digit + digit_space)]
                card_digits.append(digits_4)
                start_digit = start_digit + digit_space                
            credit_card = ""
            counter = 1
            for i in range(0,19):
                credit_card = credit_card + chr(int(card_digits[i],2))
            print("The Credit Card Number is :",credit_card)

The Credit Card Number is : 7648 5673 3775 2271
The Credit Card Number is : 3257 8247 3354 2266
The Credit Card Number is : 2722 0001 4011 6652
The Credit Card Number is : 0661 3063 3742 3150
The Credit Card Number is : 0432 1608 1462 4742
The Credit Card Number is : 5827 2027 8785 7303
The Credit Card Number is : 5774 8528 2087 1117
The Credit Card Number is : 8140 1210 6352 2845
The Credit Card Number is : 5764 1133 7301 7100
The Credit Card Number is : 6456 1737 4126 6726
The Credit Card Number is : 1228 8631 7382 0000
The Credit Card Number is : 7051 0160 5374 3166
The Credit Card Number is : 0618 3587 1630 6376
The Credit Card Number is : 1545 5454 7444 5636
The Credit Card Number is : 6735 3116 3202 6834
The Credit Card Number is : 7287 5011 1547 8413
The Credit Card Number is : 7033 2607 3328 4200
The Credit Card Number is : 2568 5244 1874 5024
The Credit Card Number is : 1684 2253 7570 7118
The Credit Card Number is : 0672 2576 0575 6631
The Credit Card Number is : 6332 8353 8787 1340
The Credit Card Number is : 1813 3361 1175 4211
The Credit Card Number is : 2477 6450 8840 2368
The Credit Card Number is : 5512 3505 2563 1326
The Credit Card Number is : 3083 7882 0621 0025
The Credit Card Number is : 4521 5148 8045 0334
The Credit Card Number is : 7563 3654 8713 5787
The Credit Card Number is : 8324 2664 0476 5561
The Credit Card Number is : 0565 2504 7168 3510
The Credit Card Number is : 5107 5507 1767 0738
The Credit Card Number is : 2462 1821 2448 1443
The Credit Card Number is : 2788 0638 6861 6554
The Credit Card Number is : 5851 5873 5474 0547
The Credit Card Number is : 0670 1004 4013 2655
The Credit Card Number is : 5874 5506 3048 0806
The Credit Card Number is : 2805 5401 8462 1260
The Credit Card Number is : 5083 8406 6310 1862
The Credit Card Number is : 1076 1445 3013 2266
The Credit Card Number is : 8440 4804 4844 5277
The Credit Card Number is : 4758 6141 0686 1387
The Credit Card Number is : 7586 0675 0315 2568
The Credit Card Number is : 2544 1258 7432 5165
The Credit Card Number is : 3474 5023 4434 5626
The Credit Card Number is : 1410 0270 0434 5086
The Credit Card Number is : 7315 4446 1104 4215
The Credit Card Number is : 0224 7742 8300 0266
The Credit Card Number is : 0170 2700 3145 0640
The Credit Card Number is : 2006 2437 8054 1600
The Credit Card Number is : 8142 4055 1776 0026
The Credit Card Number is : 3026 7380 1241 1084

In [ ]:
##6
import pandas as pd
import struct
import os

df = pd.read_csv('data/data_000637.txt')
# Writing packed values to a binary file
binary_file_path = 'data/data_000637.dat'  # Adjust the file path as needed
with open(binary_file_path, 'wb') as binary_file:
    for _, row in df.iterrows():
        packed_word = (
            (int(row['HEAD']) & 0b11) << 62 |
            (int(row['FPGA']) & 0b11111) << 58 |
            (int(row['TDC_CHANNEL']) & 0x1FF) << 49 |
            (int(row['ORBIT_CNT']) & 0xFFFFFFFF) << 17 |
            (int(row['BX_COUNTER']) & 0xFFF) << 5 |
            (int(row['TDC_MEAS']) & 0x1F)
        )
        binary_file.write(struct.pack('<q', packed_word))
# Reading and unpacking 64-bit words from the binary file
data = {}
with open('data/data_000637.dat', 'rb') as file:
    file_content = file.read()
    word_counter = 0
    word_size = 8  # size of the word in bytes
    for i in range(0, len(file_content), word_size):
        word_counter += 1
        if word_counter > 10:
            break
        word = struct.unpack('<q', file_content[i: i + word_size])[0]  # get an 8-byte word
        head = (word >> 62) & 0x3
        fpga = (word >> 58) & 0x1F
        tdc_chan = (word >> 49) & 0x1FF
        orb_cnt = (word >> 17) & 0xFFFFFFFF
        bx = (word >> 5) & 0xFFF
        tdc_meas = (word >> 0) & 0x1F
        entry = {'HEAD': head, 'FPGA': fpga, 'CHANNEL': tdc_chan, 'ORBIT_CNT': orb_cnt, 'BX_CNT': bx, 'TDC_MEAS': tdc_meas}
        data[word_counter] = entry

print(data)

txt_size = os.path.getsize('data/data_000637.txt')
bin_size = os.path.getsize('data/data_000637.dat')

print("Sizes:")
print("Text file size:", txt_size)
print("Binary file size:", bin_size)